---
import Layout from '../layouts/Layout.astro';
import PreviewCard from '../components/PreviewCard.astro';
import Navigation from '../components/Navigation.astro';

import upcomingData from '../data/upcoming.json';
import "../styles/common.css"
---
<Layout title="Duncan's Website :)">
	<main>		
		<Navigation></Navigation>
		
		<p class="instructions">
			Recently..
		</p>

		

		<ul role="list" class="link-card-grid">
			{upcomingData.map((data) => 
				<PreviewCard 
					href = {data.href}
					body = ""
					title = {data.title}
					image = {data.imageUrl}
					date = {data.date} >
				</PreviewCard>
	
			)}
		</ul>
		
		
	</main>
</Layout>

<style>
	
</style>
