---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import musicData from '../data/music.json';
import '../styles/common.css'

---
<Layout title="DM - music">
	<main>

		<Navigation></Navigation>

		<ul role="list" class="link-card-grid">
			{musicData.map((data) => 
			<Card 
				title = {data.title}
				image = {data.imageUrl}
				tags = {data.tags}
			>
			</Card>
			)}
		</ul>
		
	</main>
</Layout>

<style>

</style>
