---
import Layout from '../layouts/Layout.astro';
import PubCard from '../components/BigCard.astro';
import Navigation from '../components/Navigation.astro';
import paperData from '../data/papers.json';
import '../styles/common.css'
---
<Layout title="DM - workshops">
	<main>

        <Navigation></Navigation>

		<ul role="list" class="link-card-list">
			{paperData.map((data) => 
			<PubCard 
				title = {data.title}
				paperUrl = {data.paperUrl} 
				date = {data.date}>
			</PubCard>
			)}

		</ul>
		
	</main>
</Layout>

<style>
	
</style>
