---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/common.css';


---
<Layout>
	<main>

		<Navigation></Navigation>
		
		<h1>soon</h1>

		
	</main>
</Layout>

<style>

</style>
