---
import Layout from '../layouts/Layout.astro';
import WorkshopCard from '../components/WorkshopCard.astro';
import Navigation from '../components/Navigation.astro';

import workshopData from '../data/workshops.json'

import '../styles/common.css'
---
<Layout title="DM - workshops">
	<main>

        <Navigation></Navigation>


        <h1>workshops  </h1>


		<!-- <p class="instructions">
			<strong>workshops I have run </strong>
		</p> -->

		<ul role="list" class="workshop-card-grid">
			{workshopData.map((data) => 
			<WorkshopCard 
				title = {data.title}
				images = {data.images} 
				body = {data.description}>
			</WorkshopCard>
			)}

		</ul>
		
	</main>
</Layout>

<style>
	
.workshop-card-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr)); */
    gap: 1rem;
    padding: 0;
}

</style>
