---
import Layout from '../layouts/Layout.astro';
import WorkshopCard from '../components/WorkshopCard.astro';
import Navigation from '../components/Navigation.astro';
import workshopData from '../data/workshops.json'
import '../styles/common.css'

---
<Layout title="DM - workshops">
	<main>

        <Navigation></Navigation>

		<ul role="list" class="link-card-grid">
			{workshopData.map((data) => 
			<WorkshopCard 
				title = {data.title}
				images = {data.images} 
				body = {data.description}>
			</WorkshopCard>
			)}

		</ul>
		
	</main>
</Layout>

<style>
	
</style>
