---
export interface Props {
    content: string,
    href: string,
	image: string,
}
const {href, content, image} = Astro.props;
---
<div class="navigation-banner">

    <!-- <h3>  -->
        <a href="/music" >
            <div class="navigation-link">
                music
           </div>
        </a>
        <a href="/instruments">
            <div class="navigation-link">
                instruments
           </div>   
        </a>
        <a href="/videos" >
            <div class="navigation-link">
                videos
            </div>    
        </a>
        
        <a href="/workshops" >
            <div class="navigation-link">
                workshops
            </div>    
        </a>
    
</div>


<style>

    a {
        color: white;
        /* padding; 1em; */
    }
    div {
        display: inline;
        /* padding: 0.3em; */
    }

    .navigation-banner {
        width: 10em;
        /* background-color: orange;; */
    }
    .navigation-link {
        /* background-color: #01256F; */
            
        margin-top: 0.75rem;
        margin-bottom: 0;
        margin-right: 1em;
        /* font-size: 0.7em; */
        display: inline;
        /* color: aliceblue; */
    }


</style>
